:root {
  --branca: #ffffff;
  --verde: #10403b;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*elementos base*/
body {
  background: var(--verde);
  font-family: "Arial", Times, serif;
  color: var(--branca);
}

header .container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

header .logo {
  color: var(--branca);
  font-family: arial black;
  font-size: 40px;
  margin-left: 10px;
}

header nav a {
  text-decoration: none;
  color: #bfbfbf;
  margin-right: 10px;
}

header nav a:hover {
  color: var(--branca);
}

/*filme principal*/
.filme-principal {
  color: var(--branca);
  font-size: 16px;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) 100%),
    url("/img/cacador-de-pipas.jpg");
  height: 450px;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.filme-principal .descricao {
  margin-bottom: 40px;
  margin-top: 10px;
}

.filme-principal .titulo {
  margin-top: 15%;
  font-size: 60px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.botao {
  background: rgba(0, 0, 0, 0.5);
  border: none;
  color: var(--branca);
  padding: 15px 30px;
  margin-right: 15px;
  margin-bottom: 50px;
  font-size: 12px;
  cursor: pointer;
  transition: 0.3s ease all;
}

.botao:hover {
  background-color: var(--branca);
  color: black;
}

.botao i {
  margin-right: 8px;
}

.container {
  margin-left: 20px;
}

.filme-principal .container {
  width: 80%;
}

.box-filme {
  height: 100%;
  width: 100%;
  display: block;
}

.carrosel-filmes {
  margin-top: 5px;
}
