@media screen and (max-width: 600px) {
  header .container {
    display: flex;
    flex-direction: column;
  }

  .botao {
    margin-top: 5px;
    width: 190px;
    height: 60px;
  }

  .filme-principal .titulo {
    font-size: 50px;
  }

  .filme-principal .descricao {
    font-size: 16px;
  }
}

@media screen and (max-width: 550px) {
  .botao {
    margin-bottom: 3px;
  }
}

@media screen and (min-width: 1000px) {
  .descricao {
    width: 50%;
  }
}
